a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a.fekete {
    color: black;
    text-decoration: none;
}

a.fekete:visited {
    color: black;
    text-decoration: none;
}

a.fekete:hover {
    color: #ff4d00;
    text-decoration: underline;
}

a.feketeunclick {
    color: black;
    text-decoration: none;
}

a.here {
    color: black;
    font-weight: bolder;
    text-decoration: underline;
}

a.here:visited {
    color: black;
    font-weight: bolder;
    text-decoration: underline;
}

a.here:hover {
    color: #ff4d00;
    font-weight: bolder;
    text-decoration: underline;
}

a.back {
    color: white;
    text-decoration: none;
}

a.back:hover {
    color: #ff9900;
    text-decoration: none;
}

a.érdeklődő {
    color: white;
    text-decoration: none;
}

a.érdeklődő:hover {
    color: #ff9900;
    text-decoration: none;
    text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
}

p.fehér {
    color: white;
    text-decoration: none;
}

h5.fehér {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}